name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]  # TODO: add windows-latest
        python: ['3.8', '3.9', '3.10', '3.11', '3.12']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - run: python -m pip install --upgrade pip wheel
      - run: pip install tox tox-gh-actions
      - run: tox
